{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- ======= Hero Slider Section ======= -->
    <section id="hero-slider" class="hero-slider">
        <div class="container-md" data-aos="fade-in">
          <div class="row">
            <div class="col-12">
                    <a href="single-post.html" class="img-bg d-flex align-items-end" style="background-image: url({% static 'img/post-slide-2.jpg' %});">
                      <div class="img-bg-inner">
                        <h2>Welcome to Tech Init</h2>
                        <p>We make inspiring tech stories accessible to all</p>
                      </div>
                    </a>
                  </div>
        </div>
        </div>
        </div>
          </div>
        </div>
      </section><!-- End Hero Slider Section -->


      
    <!-- ======= Post Grid Section ======= -->
    <section id="posts" class="posts">
        <div class="container-fluid" data-aos="fade-up">
         
            <div class="row">
         {% for post in post reversed %}

            <div class="col-md-4">
              <div class="post-entry-1 lg">
                <a href=""><img src="{{ post.image.url }}" alt="" class="img-fluid"></a>
               <a href=""><h3><a href="">{{post.title}}</a></h3></a> 
                <div class="post-meta"><span class="mx-1"></span> <span>{{ post.sub_title }}</span></div>
                <p class="mb-4 d-block">{{ post.body | truncatewords:30 }}</p>
                <div class="post-meta"><span class="date">Date:</span> <span class="mx-1">&bullet;</span> <span>{{ post.created }}</span></div>

            </div>
          </div> <!-- End .row -->
          {% endfor %}
        </div>
        
        </div>
    
      </section> <!-- End Post Grid Section -->

{% endblock %}