{% extends 'base.html' %}
{% load static %}


<div class="col-md-8">
    <div class="post-entry-1 lg">

      {% for post in posts %}
      <a href="single-post.html"><img src="{{ post.image.url }}" alt="" class="img-fluid"></a>
     <a href=""><h3><a href="single-post.html">{{ post.title }}</a></h3></a> 
      <div class="post-meta"><span class="mx-1"></span> <span>{{ post.sub_title }}</span></div>
      <p class="mb-4 d-block">{{ post.body }}</p>
  </div>
</div> <!-- End .row -->
{% endfor %}
</div>

</div>

</section> <!-- End Post Grid Section -->