
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'store/styles.css' %}">

    <title>online retailer</title>
  </head>
  <body>

    <nav class="bg-white shadow-lg">
        <div class="max-w-6xl mx-auto px-4">
            <div class="flex justify-between">
                <div class="flex space-x-7">

                    <div >
                        <a href="{% url 'home' %}" class="flex items-center px-2 py-5">
                        <img class="h-8 w-8" src="{% static 'store/images/shop_logo.png' %}" alt="">
                        <span class="text-gray-500 font-semibold text-lg">&nbsp; Retail Shop </span>
                    </a>
                    </div>

                <div class="items-center flex space-x-1">
                    <a href="{% url 'home' %}" class="px-2 py-5 text-gray-500 text-semibold">Home</a>
                    <a href="" class="px-2 py-5 text-gray-500 text-semibold">About</a>
                    <a href="" class="px-2 py-5 text-gray-500 text-semibold">Contact</a>
                   {% if user.is_authenticated %}
                   <a href="{% url 'logout'%}" class="px-2 py-5 text-gray-500 text-semibold"> | &nbsp; <strong>{{user }}</strong> &nbsp; Logout</a>
                   {% else %}
                   <a href="{% url 'login'%}" class="px-2 py-5 text-gray-500 text-semibold">Login</a>
                   {% endif %}
                </div>

        </div>
    </div>
</div>
    </nav>





 
    {% block content %}
    {% endblock %}
 

  </body>
</html>