{% extends 'base.html' %}


{% block content %}

<div class="flex p-10 w-3/5 ml-10 h-200">
    <img src="{{ product.image.url }}" class="w-1/3" alt="{{ product.title }}">
    <div class="w-2/3 text-xl ml-5">
   
    <div class="mt-5">{{ product.title }}</div>
    <div class="mt-5 text-green-500"> &#x20A6;{{ product.price }} </div>
    <div class="mt-5 text-gray-700">{{ product.des }}</div>
    <div class="mt-5 text-gray-700">  Posted by: <a href="{% url 'users:sellerprofile' product.seller.id %}">{{product.seller}}</a>  </div>
    <div class="text-gray-700">for more info: {{product.seller.profile.contact_number}}</div>
   
   </div>
</div>





{% endblock %}