{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<h1 class="text-2xl font-bold m-10">+Add Product</h1>
<form class="bg-white shadow-md m-10 px-8 py-8 w-2/6" action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-4"> 

    <label for="" class="block text-gray-500 text-sm font-bold mb-2">Product Name</label>
    
        <div class=" w-11/12 shadow appearance-none border rounded py-2 px-3 mr-10 text-gray-700""> 

            {{ form.title }}

        </div>
    
    </div>

    <div class="mb-4">
        <label class="block text-gray-500 text-sm font-bold mb-2 "  for="">Product price </label>
    <div class=" w-11/12 shadow appearance-none border rounded py-2 px-3 mr-10 text-gray-700">
        {{form.price}}
    </div>
    </div>   
    
    <div class="mb-4">
        <label class="block text-gray-500 text-sm font-bold mb-2" for="">Description</label>
    <div class="w-11/12 shadow appearance-none border rounded py-2 px-3 mr-10 text-gray-700">
        {{form.des}}
    </div>
    </div>
    <div class="mb-4">
        <label class="block text-gray-500 text-sm font-bold mb-2" for="">Product Image</label>
        <div class="py-2">
            {{form.image}}
        </div>
    </div>
    <div class="mb-4" hidden>
        <label class="block text-gray-500 text-sm font-bold mb-2" for="">Product Image</label>
        <div class="py-2">
            {{form.seller}}
        </div>
    </div>

<div>

    <input class=" w-10/12 bg-green-500 text-white px-5 py-2" type="submit" value="Update">
</div>
</form>

{% endblock %}